*{
  font-family: 'Quicksand', sans-serif;
 }

html, body, div, img, h1 {
  margin: 0;
  padding: 0;
  outline: 0;
}


.bgprofile {
  background-image: url('https://images.unsplash.com/photo-1518314144686-36a36d62a13c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
  background-repeat: no-repeat;
}

img {
  
  filter: sepia(100%);
  -webkit-filter: sepia(100%);
  -moz-filter: sepia(100%);-webkit-filter(1);
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

  img:hover{
  filter: sepia(0%);
  -webkit-filter: sepia(0%);
  -moz-filter: sepia(0%);
  -webkit-filter(0);border:2px dashed #c76d6d;
  border-radius: 50%;} 
  
  

.profile .text-container {
  width: 600px;
  margin-left: 256px;
  padding-top: 68.5714285714px;
  text-align: center;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.profile h1 {
  margin-bottom: 34.2857142857px;
  font-weight: 400;
  font-size: 2.8em;
  line-height: 1em;
  letter-spacing: -1px;
  
}
.profile .title {
  font-size: 1.4em;
  letter-spacing: 1px;
}
